<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="Id" [value]="service.formData.Id">
    <input type="hidden" name="IsRented" [value]="service.formData.IsRented">
    <div class="flex-container">
        <div class="form-group">
            <h6>Bike name</h6>
            <input name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" class="form-control"
                placeholder="Name">
        </div>
        <div class="form-group">
            <h6>Bike type</h6>
            <select name="BicycleCategory" #Name="ngModel" [(ngModel)]="service.formData.BicycleCategory"
                class="form-control">
                <option value="Road Bike">Road Bike</option>
                <option value="Mountain Bike">Mountain bike</option>
            </select>
        </div>
        <div class="form-group">
            <h6>Rent price</h6>
            <input name="Price" #Name="ngModel" [(ngModel)]="service.formData.Price" class="form-control"
                placeholder="Price" type="number" step="0.01">
        </div>
        <div class="form-group">
            <button class="btn btn-info btn-lg btn-block" type="submit">Submit rent</button>
        </div>
    </div>
</form>