<div class="flex-body">
    <div class="flex-body-item">
        <h2 class="h2-header">Awesome Bike Rental</h2>
    </div>
    <div class="flex-body-item">

        <h4>🤑 Create New Rent</h4>
        <app-bicycle></app-bicycle>
    </div>
    <div class="flex-body-item">
        <h4>
            🤩 Your Rent (Total: $
            <app-total-bisycles-price></app-total-bisycles-price>
            )
        </h4>
            <app-bicycle-list></app-bicycle-list>
    </div>
    <div class="flex-body-item">
        <h4>
            🚲 Available Bicycles ( <app-total-bisycles-amount></app-total-bisycles-amount>)
        </h4>
            <app-free-bicycle-list></app-free-bicycle-list>
    </div>
</div>